*.o
*.mod
*.dbg
*.cmdx
*.cmod
*.ilm
*.stb
.vscode
Slater*
Updates*
datasets/dataset.*
bin/
*.vfcrun.hd5
*.vfcraw.hd5
__pycache__
ci/__pycache__
*.h5
# autoconf artefacts
autom4te.cache/
config.log
config.status
configure
aclocal.m4
include/config.h.in
COPYING
INSTALL
compile
config.guess
config.sub
depcomp
include/config.h.in~
include/stamp-h1
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.deps/
src/.dirstamp
test_h5
tests/.deps/
tests/.dirstamp
